//global styles for all sections:

.section-title h2 {
	font-size: 30px;
	line-height: .1em;
}

.section-title p {
	color: #aeaeae;
	font-size: 14px;
	font-weight: bold;
}

.icons-pack {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	text-align: center;
}
