//styles for section home:

#menu-toggle input {
	display: none;
}

.nav-links {
	list-style-type: none;
	margin: 0;

	a {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 3em;
		margin-left: 30px;
		text-decoration: none;
	}

	li {
		display: inline-flex;
	}
}