//styles for section facts:

.section-facts {
	background-color: black;
	padding: 30px;
	text-align: center;
	& h2 {
		color: white;
	}
}

.section-facts-element {
	padding: 20px;

	& h2 {
		color: $gold-color;
		font-size: 48px;
		line-height: .1em;
	}

	& h3 {
		color: gray;
		line-height: .1em;	
	}

	& h4 {
		color: white;
		margin-bottom: 50px;
	}

	& p {
		color: gray;
	}
}