//styles for section price:

.section-price {
	background-color: #ededed;
	margin: 40px 0 80px 0;
	text-align: center;
}

.section-price-card {
	background-color: white;
	height: 340px;
	margin-right: 2%;
	padding: 20px 20px 30px 20px;
	width: 260px;

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		line-height: .2em;
	}

	& h6, p {
		color: gray;
		font-size: 10px;
	}
}

.section-price-card:first-of-type {
	margin-left: 7%;
}

.section-price-table {
	margin: 45px auto;
}