//styles for section team:

.section-team {
	background: url("../images/section-team-background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	padding: 45px 0 40px 0;
	text-align: center;

	& .section-title > h2 {
		color: white;
	}
}

.section-team-card {
	background-color: #fff;
	display: inline-block;
	height: 430px;
	margin: 30px 15px 0 15px;
	padding-top: 50px;
	width: 350px;

	& h3 {
		font-size: 21px;
		margin-top: 30px;
		margin-bottom: 5px;
	}

	& i {
		background-color: #bebebe;
		border: 5px solid #bebebe;
		border-radius: 50%;
		color: white;
		height: 33px;
		padding: 1%;
		width: 33px;
	}

	& i:hover {
		background-color: $gold-color;
		border: 5px solid $gold-color;
		cursor: pointer;
		transition: .3s;
	}

	& i:active {
		background-color: white;
		color: $gold-color;
		transition: .3s;
	}

	& p {
		font-size: 14px;
	}
}

.section-team .pagination {
	display: block;
	margin-top: 60px;
}