//styles for section footer:

#footer-email {
	background-color: #373737;
	border: none;
	border-bottom: 2px solid grey;
	color: white;
	font-weight: bold;
}

.section-footer {
	background-color: black;
	color: grey;
	padding-top: 30px;
	text-align: center;

	& form {
		background-color: #373737;
		height: 200px;
		margin-left: 50px;
		padding-top: 50px;
		width: 350px;
	}

	& h5:hover {
		color: white;
	}
	
	& i {
		background-color: #373737;
		border: 5px solid #373737;
		border-radius: 50%;
		color: white;
		cursor: pointer;
		height: 33px;
		margin-top: 30px;
		margin-bottom: 140px;
		padding-top: 1%;
		width: 33px;
	}

	& i:hover {
		background-color: $gold-color;
		border: 5px solid $gold-color;
		cursor: pointer;
		transition: .3s;
	}

	& i:active {
		box-shadow: 5px 5px 5px $gold-color;
		transition: .3s;
	}

	& p {
		padding: 15px;
		text-align: left;
	}
}