//styles for header in section home:

#menu-toggle input {
	display: none;
}

.nav-links {
	list-style-type: none;
	margin: 0;

	a {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		height: 100px;
		line-height: 100px;
		margin-left: 30px;
		text-decoration: none;

		&:hover, &:active {
			border-bottom: 5px solid $gold-color;
		}
	}

	li {
		display: inline-flex;
	}
}

.page-header {
	align-items: center;
	background-color: black;
	display: flex;
	height: 100px;
	justify-content: space-around;
	margin-bottom: 270px;
}

//styles for section home:

.fa-phone-volume {
	background-color: $gold-color;
	border-radius: 50%;
	color: white;
	float: right;
	font-size: 40px;
	height: 65px;
	line-height: 65px;
	margin-top: 185px;
	padding: 10px;
	transform: rotate(-30deg);
	width: 65px;

	&:hover {
		background-color: white;
		border: 2px solid $gold-color;
		color: $gold-color;
	}

	&:active {
		box-shadow: 4px 2px 4px $gold-color;
	}
}

.section-home {
	background: url("../images/section-home-background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 850px;
	text-align: center;

	h1 {
		font-size: 72px;
		line-height: .1em;

		&.gold {
			color: $gold-color;
		}
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
	}

	.pagination {
		margin-top: 160px;
		margin-left: 4%;
	}
}